<style>
  /*[v-cloak] {
        display: none !important;
    }*/
  .ean {
    padding-left: 0;
    padding-right: 0;
  }
</style>

<div id="app" class="mt-2 mb-5" style="min-height: 600px">
  <div class="row justify-content-center pt-4">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xxl-10">
      <div class="d-flex justify-content-center">
        <span class="fw-bold p-0" style="color: #00af9a; font-size: 1.7rem"
          >角色權限管理</span
        >
      </div>
      <div class="dropdown-divider"></div>

      <div class="row mb-2">
        <div class="col-6 col-md-3">
          <button
            @@click="showRow=showRow ? false :true"
            class="btn btn-primary mb-1 bg-success border-success"
            type="button"
          >
            <span
              class="fas fas fa-user-plus me-1"
              data-fa-transform="shrink-3"
            ></span
            >新增帳號
          </button>
        </div>
        <div class="col-6 col-md-3">
          <button
            @@click="showRoleModal()"
            class="btn btn-primary mb-1 bg-success border-success"
            type="button"
          >
            <span
              class="fas fa-user-edit me-1"
              data-fa-transform="shrink-3"
            ></span
            >角色管理
          </button>
        </div>

        <div class="col-md-3 ms-auto col-0 d-none d-md-block">
          <div class="p-2 flex-fill">
            <div class="d-flex mb-0 flex-row-reverse">
              <div class="fs--2 p-2">權限：{{m.dealer_role}}</div>
              <div class="fs--2 p-2">使用者：{{m.dealer_acc}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive scrollbar card">
        <table
          class="table table-sm table-striped fs--1 fs-md--1 fs-lg-0 mb-8 overflow-hidden"
        >
          <thead class="bg-200 text-900">
            <tr class="btn-reveal-trigger">
              <th class="pe-1 align-middle white-space-nowrap">啟用</th>
              <th class="pe-1 align-middle white-space-nowrap">登入帳號</th>
              <th class="pe-1 align-middle white-space-nowrap">重設密碼</th>
              <th class="pe-1 align-middle white-space-nowrap">角色名稱</th>
              <th class="pe-1 align-middle white-space-nowrap">分店名稱</th>
              <th class="pe-1 align-middle white-space-nowrap">使用者</th>
              @*
              <th scope="col">權限內容</th>
              *@
              <th class="pe-1 align-middle white-space-nowrap text-center">
                權限內容
              </th>
              <th class="text-end" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="btn-reveal-trigger" v-for="v in jsonMember">
              <td>
                <div class="form-check form-switch" style="cursor: pointer">
                  <input
                    v-if="v.dealer_role!='負責人'"
                    class="form-check-input"
                    id="flexSwitchCheckDefault"
                    type="checkbox"
                    v-model="v.isStart"
                    @@change="OpenStart(v)"
                  />
                </div>
              </td>
              <td>{{v.dealer_acc}}</td>
              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                <button
                  v-if="v.forget_pw_flag == '*'"
                  @@click="reSetPwShow(v)"
                  class="badge badge d-block badge-soft-danger"
                >
                  要求重設<span class="fas fa-user-lock fa-w-16 ms-1"></span>
                </button>
                @*<button
                  v-else-if="v.forget_pw_flag == '#'"
                  @@click="reSetPwShow(v)"
                  class="badge badge d-block badge-soft-light"
                >
                  已重設密碼<span
                    class="fas fa-user-lock fa-w-16 ms-1"
                  ></span></button
                >*@
              </td>
              <td class="status py-2 align-middle fs-0 white-space-nowrap">
                <span
                  v-if="!v.edit"
                  :style="{'color':v.dealer_role!='負責人' && v.role_color ? 'red':'#5e6e82;' }"
                >
                  <span v-if="v.dealer_role!='負責人' && v.role_color">
                    @* icon *@
                    <a
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="此角色已經被刪除,請重新設定角色"
                    >
                      <span class="fas fa-info-circle"></span>
                    </a> </span
                  >{{v.dealer_role}}
                </span>
                <select
                  v-else
                  style="width: 184px"
                  class="form-select"
                  v-model="v.dealer_role"
                >
                  <option value="">--請選擇角色--</option>
                  <option v-for="vv in jsonRole" :value="vv.role">
                    {{vv.role}}
                  </option>
                </select>
              </td>
              <td class="status py-2 align-middle fs-0 white-space-nowrap">
                <span
                  v-if="!v.edit"
                  :style="{'color':v.dealer_role!='負責人' && v.branch_color ? 'red':'#5e6e82;' }"
                >
                  <span v-if="v.dealer_role!='負責人' && v.branch_color">
                    @* icon *@
                    <a
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="此分店已經被刪除,請重新設定分店"
                    >
                      <span class="fas fa-info-circle"></span>
                    </a> </span
                  >{{v.dealer_branch}}
                </span>
                <select
                  v-else
                  style="width: 184px"
                  class="form-select"
                  v-model="v.dealer_branch"
                >
                  <option value="">--請選擇分店--</option>
                  <option v-for="vv in jsonBranch" :value="vv.branch">
                    {{vv.branch}}
                  </option>
                </select>
              </td>
              <td class="status py-2 align-middle fs-0 white-space-nowrap">
                <span v-if="!v.edit">{{v.dealer_acc_name}}</span>
                <input
                  v-else
                  style="width: 120px"
                  v-model.trim="v.dealer_acc_name"
                  class="form-control"
                  type="text"
                  placeholder="輸入使用者"
                />
              </td>

              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                <div class="d-flex">
                  <span
                    class="badge badge rounded-pill d-block badge-soft-primary hover-bg-100"
                    v-for="vv in v.authoritys"
                  >
                    {{vv.authority}}
                  </span>
                </div>
              </td>

              <td class="text-end align-middle">
                <div
                  v-if="v.dealer_role!='負責人'"
                  class="dropdown font-sans-serif position-static"
                >
                  <button
                    class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-boundary="window"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="fas fa-ellipsis-h fs--1"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-0">
                    <div class="bg-white py-2">
                      <a
                        v-if="!v.edit"
                        @@click="v.edit=true"
                        class="dropdown-item text-primary"
                        href="#!"
                      >
                        <span class="fas fa-user-edit text-primary me-1"></span
                        >編輯
                      </a>
                      <div v-else>
                        <a
                          @@click="upd_acc(v)"
                          class="dropdown-item text-success"
                          href="#!"
                        >
                          <span class="fas fa-save text-success me-1"></span
                          >存檔
                        </a>
                        <a
                          @@click="v.edit=false"
                          class="dropdown-item text-warning"
                          href="#!"
                        >
                          <span
                            class="far fa-times-circle text-warning me-1"
                          ></span
                          >取消
                        </a>
                        <div class="dropdown-divider"></div>
                      </div>
                      <a
                        @@click="deleteAcc(v.member_id)"
                        class="dropdown-item text-danger"
                        href="#!"
                      >
                        <span class="fas fa-trash-alt text-danger me-2"></span
                        >刪除
                      </a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            @* add row *@
            <tr v-if="showRow" class="btn-reveal-trigger">
              <td class="status py-2 align-middle fs-0 white-space-nowrap">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    v-model="u.isStart"
                    id="flexSwitchCheckDefault"
                    type="checkbox"
                  />
                </div>
              </td>
              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" style="padding: 0"
                    >{{jsonMember[0].dealer_acc}}</span
                  >
                  <input
                    style="width: 120px"
                    v-model="u.acc"
                    class="form-control"
                    type="text"
                    placeholder="輸入帳號"
                  />
                </div>
              </td>
              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                @*<span class="badge badge d-block badge-soft-primary">
                  強制重設<span class="fa fa-stream fa-w-16 ms-1"></span> </span
                >*@
              </td>
              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                <select
                  style="width: 184px"
                  class="form-select"
                  v-model="u.sel_role"
                  @@change="selRole(u.sel_role)"
                >
                  <option value="">--請選擇角色--</option>
                  <option v-for="v in jsonRole" :value="v.role">
                    {{v.role}}
                  </option>
                </select>
              </td>
              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                <select
                  style="width: 184px"
                  class="form-select"
                  v-model="u.sel_branch"
                >
                  <option value="">--請選擇分店--</option>
                  <option value="總公司">總公司</option>
                  <option v-for="v in jsonBranch" :value="v.branch">
                    {{v.branch}}
                  </option>
                </select>
              </td>
              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                <input
                  style="width: 120px"
                  v-model.trim="u.dealer_acc_name"
                  class="form-control"
                  type="text"
                  placeholder="輸入使用者"
                />
              </td>
              <td
                class="status py-2 align-middle text-center fs-0 white-space-nowrap"
              >
                <div class="d-flex">
                  <div v-for="v in jsonAuthority_acc">
                    <span
                      v-if="v.isCheck"
                      class="badge badge rounded-pill d-block badge-soft-primary hover-bg-100"
                    >
                      {{v.authority}}
                    </span>
                  </div>
                </div>
              </td>
              <td class="align-middle text-end">
                <div class="dropdown font-sans-serif position-static">
                  <button
                    class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-boundary="window"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="fas fa-ellipsis-h fs--1"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-0">
                    <div class="bg-white py-2">
                      <a
                        @@click="add_acc(u)"
                        class="dropdown-item text-success"
                        href="#!"
                      >
                        <span class="fas fa-save text-success me-1"></span>存檔
                      </a>
                      <a
                        @@click="showRow=false"
                        class="dropdown-item text-warning"
                        href="#!"
                      >
                        <span
                          class="far fa-times-circle text-warning me-1"
                        ></span
                        >取消
                      </a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  @* 角色管理 *@
  <div
    class="modal fade"
    id="role-modal"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    role="dialog"
    aria-labelledby="authentication-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg mt-6" role="document">
      <div class="modal-content border-0">
        @*style="height:400px;"*@
        <div class="">
          <div class="p-2 w-100">
            <div class="modal-body py-3 px-4">
              @* tab *@
              <ul class="nav nav-pills" id="pill-myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="pill-home-tab"
                    data-bs-toggle="tab"
                    href="#pill-tab-home"
                    role="tab"
                    aria-controls="pill-tab-home"
                    aria-selected="true"
                    >角色名稱</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="pill-profile-tab"
                    data-bs-toggle="tab"
                    href="#pill-tab-profile"
                    role="tab"
                    aria-controls="pill-tab-profile"
                    aria-selected="false"
                    >分店名稱</a
                  >
                </li>
              </ul>
              <div class="tab-content p-3 mt-3" id="pill-myTabContent">
                @*border*@ @* tab-1 角色名稱 *@
                <div
                  class="tab-pane fade show active"
                  id="pill-tab-home"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                  <form>
                    @* 新增角色 *@
                    <div class="row">
                      @*
                      <div class="col-md-6 col-lg-3 mb-1">
                        <select
                          class="form-select"
                          v-model="sel_role"
                          @@change="selRole_sub(sel_role)"
                        >
                          <option value="">--請選擇角色--</option>
                          <option v-for="v in jsonRole" :value="v">
                            {{v}}
                          </option>
                        </select>
                      </div>
                      *@
                      <div class="col-md-6 col-lg-4 mb-1">
                        <input
                          v-model.trim="sub_role"
                          class="form-control"
                          type="text"
                          placeholder="輸入新增的角色名稱"
                        />
                      </div>
                      <div class="col-6 col-md-6 col-lg-3 mb-1">
                        <button
                          @@click="addRole_sub(sub_role)"
                          class="btn btn-success bg-success border-success"
                          type="button"
                        >
                          <span
                            class="fas fa-user-alt me-1"
                            data-fa-transform="shrink-3"
                          ></span
                          >新增角色
                        </button>
                      </div>
                      @*
                      <div class="col-6 col-md-6 col-lg-2 mb-1">
                        <button
                          @@click="delRole_sub(sel_role)"
                          class="btn btn-danger bg-danger border-danger"
                          type="button"
                        >
                          <span
                            class="fas fa-trash-alt me-1"
                            data-fa-transform="shrink-3"
                          ></span
                          >刪除
                        </button>
                      </div>
                      *@
                    </div>

                    <div class="dropdown-divider"></div>

                    @* 更新刪除角色 *@
                    <div class="mb-4">
                      <div class="row">
                        <div class="col-12 col-md-6" v-for="v in jsonRole">
                          <div
                            @@click="selRole_sub(v.role)"
                            v-if="!v.showed"
                            class="btn-primary btn me-1 mb-1"
                            style="cursor: default"
                          >
                            {{v.role}}<span title="編輯" @@click="v.showed=true"
                              ><span
                                class="fas fa-edit ms-2 fs-2"
                                style="cursor: pointer; background-color: red"
                                data-fa-transform="shrink-3"
                              ></span
                            ></span>
                          </div>
                          @* show update *@
                          <div class="input-group" v-if="v.showed">
                            <input
                              class="form-control"
                              :value="v.role"
                              @@change="changeRole(v,$event)"
                              type="text"
                            />
                            @* 更新 *@
                            <span class="input-group-text">
                              <span @@click="updRole()" title="更新"
                                ><span
                                  class="fas fa-check ms-1"
                                  style="cursor: pointer"
                                  data-fa-transform="shrink-3"
                                ></span
                              ></span>
                            </span>
                            @* 取消 *@
                            <span class="input-group-text">
                              <span @@click="v.showed=false" title="取消"
                                ><span
                                  class="fas fa-times ms-1"
                                  style="cursor: pointer"
                                  data-fa-transform="shrink-3"
                                ></span
                              ></span>
                            </span>
                            @* 刪除 delRole_sub(sel_role) deleBranch(v)*@
                            <span
                              @@click="delRole_sub(v.role)"
                              class="position-absolute top-0 translate-middle badge rounded-pill bg-danger"
                              style="cursor: pointer"
                              title="刪除"
                            >
                              <span class="fas fa-minus"></span>
                              <span class="visually-hidden"
                                >unread messages</span
                              >
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    @* 顯示角色的權限 *@
                    <div class="dropdown-divider"></div>
                    <div class="mb-4" v-show="showAuthority">
                      <div class="row">
                        權限內容：<br />
                        <div
                          class="col-6 col-md-6 col-lg-2"
                          v-for="(v,index) in jsonAuthority_role"
                        >
                          <input
                            class="form-check-input"
                            :id="'inlineCheckbox_' + index"
                            type="checkbox"
                            :value="'option_' + index"
                            v-model="v.isCheck"
                          />
                          <label
                            class="form-check-label"
                            style="margin-bottom: 0"
                            :for="'inlineCheckbox_' + index"
                            >{{v.authority}}</label
                          >
                        </div>
                        <div class="col-4 ms-auto col-md-3 col-lg-2">
                          <button
                            @@click="save_sub(jsonAuthority_role)"
                            class="btn btn-sm btn-primary bg-primary border-primary"
                            type="button"
                          >
                            <span
                              class="far fa-save"
                              data-fa-transform="shrink-3"
                            ></span
                            >存檔
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                @* tab-2 分店名稱 *@
                <div
                  class="tab-pane fade"
                  id="pill-tab-profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <form>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-1">
                        <input
                          v-model.trim="branch"
                          class="form-control"
                          type="text"
                          placeholder="輸入新增分店"
                        />
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <button
                          @@click="addBranch(branch)"
                          class="btn btn-success bg-success border-success"
                          type="button"
                        >
                          <span
                            class="fas fa-user-alt me-1"
                            data-fa-transform="shrink-3"
                          ></span
                          >新增分店
                        </button>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="mb-4">
                      <div class="row">
                        <div class="col-12 col-md-6" v-for="v in jsonBranch">
                          <div
                            v-if="!v.showed"
                            class="btn-primary btn me-1 mb-1"
                            style="cursor: default"
                          >
                            {{v.branch}}<span
                              title="編輯"
                              @@click="v.showed=true"
                              ><span
                                class="fas fa-edit ms-2 fs-1"
                                style="cursor: pointer"
                                data-fa-transform="shrink-3"
                              ></span
                            ></span>
                          </div>
                          @* show update *@
                          <div class="input-group" v-if="v.showed">
                            <input
                              class="form-control"
                              :value="v.branch"
                              @@change="changeBranch(v,$event)"
                              type="text"
                            />
                            @* 更新 *@
                            <span class="input-group-text">
                              <span @@click="updBranch()" title="更新"
                                ><span
                                  class="fas fa-check ms-1"
                                  style="cursor: pointer"
                                  data-fa-transform="shrink-3"
                                ></span
                              ></span>
                            </span>
                            @* 取消 *@
                            <span class="input-group-text">
                              <span @@click="v.showed=false" title="取消"
                                ><span
                                  class="fas fa-times ms-1"
                                  style="cursor: pointer"
                                  data-fa-transform="shrink-3"
                                ></span
                              ></span>
                            </span>
                            @* 刪除 *@
                            <span
                              @@click="deleBranch(v)"
                              class="position-absolute top-0 translate-middle badge rounded-pill bg-danger"
                              style="cursor: pointer"
                              title="刪除"
                            >
                              <span class="fas fa-minus"></span>
                              <span class="visually-hidden"
                                >unread messages</span
                              >
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <span class="text-danger"
                    >分店名稱會影響QR
                    CODE訂單連結的分類,請注意避免相同店家重複新增</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 flex-shrink-1">
            <button
              class="btn-close position-absolute top-0 end-0 mt-2 me-2"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* delete 角色 顯示 訊息 *@
  <div
    class="modal fade"
    id="deleteRole_modal"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button
            class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-0">
          <div
            class="d-flex justify-content-center alert-danger rounded-top-lg py-3 ps-4 pe-6"
          >
            <span class="fas fa-exclamation-triangle text-danger fs-5"></span>
            @*
            <div class="bg-warning me-3 icon-item ms-5">
              <span class="fas fa-exclamation-circle text-white fs-3"></span>
            </div>
            *@
          </div>
          <div class="d-flex mb-3">
            <div class="p-2 flex-grow-1">
              請注意，刪除後無法復原，您確定要刪除這個角色嗎？
            </div>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <div
              class="btn btn-primary me-3"
              @@click="confirmDeleteRole()"
              style="background-color: #00af9a; border-color: #00af9a"
            >
              確 定
            </div>
            <div
              class="btn btn-primary"
              data-bs-dismiss="modal"
              style="background-color: #00af9a; border-color: #00af9a"
            >
              取 消
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* delete 分店 顯示 訊息 *@
  <div
    class="modal fade"
    id="deleteBranch_modal"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button
            class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-0">
          <div
            class="d-flex justify-content-center alert-danger rounded-top-lg py-3 ps-4 pe-6"
          >
            <span class="fas fa-exclamation-triangle text-danger fs-5"></span>
            @*
            <div class="bg-warning me-3 icon-item ms-5">
              <span class="fas fa-exclamation-circle text-white fs-3"></span>
            </div>
            *@
          </div>
          <div class="d-flex mb-3">
            <div class="p-2 flex-grow-1">
              請注意，刪除後無法復原，您確定要刪除這個分店嗎？
            </div>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <div
              class="btn btn-primary me-3"
              @@click="confirmDeleteBranch()"
              style="background-color: #00af9a; border-color: #00af9a"
            >
              確 定
            </div>
            <div
              class="btn btn-primary"
              data-bs-dismiss="modal"
              style="background-color: #00af9a; border-color: #00af9a"
            >
              取 消
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* 顯示 要求重設 *@
  <div
    class="modal fade"
    id="resetpw_modal"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button
            class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-0">
          <div
            class="d-flex justify-content-center alert-info rounded-top-lg py-3 ps-4 pe-6"
          >
            @*<span class="fas fa-info-circle text-info fs-5"></span>*@
            <div class="bg-info me-3 icon-item ms-5">
              <span class="fas fa-info-circle text-white fs-3"></span>
            </div>
          </div>
          @*
          <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
            <h4 class="mb-1 fw-bold" id="tooltippopoversLabel">提醒</h4>
          </div>
          <div class="d-flex justify-content-center mb-2">
            <span class="fas fa-info-circle text-info fs-5"></span>
          </div>
          *@
          <div class="d-flex mb-3">
            <div class="p-2 flex-grow-1">
              重設後預設密碼同子帳號，登入後請自行進入設定自訂新密碼。
            </div>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <div
              class="btn btn-primary me-2"
              @@click="reSetPw()"
              style="background-color: black; border-color: black"
            >
              確定重設
            </div>
            <div
              class="btn btn-falcon-default me-2"
              @@click="cancelSetPw()"
              data-bs-dismiss="modal"
              style="border-color: red; color: red"
            >
              取消重設要求
            </div>
            <div class="btn btn-falcon-default" data-bs-dismiss="modal">
              取消
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/common.js?v=1.0"></script>
<script src="~/js/dealerRole.js?v=1.0"></script>

@* 日期UI *@
<link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />
<script src="~/assets/js/flatpickr.js"></script>
