@* PDF *@ @*<link
  href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css"
  rel="stylesheet"
  type="text/css"
/>*@
<link href="~/css/pdf_viewer.min.css" rel="stylesheet" type="text/css" />

<style>
  :root {
    --color-green: #00af9a;
    --color-dark-green: #028b7a;
    --color-grey: #ebebeb;
    --color-drak-grey: #cbc8c8;
    --color-pink: #ff0000a3;
  }
  .error_border {
    border: solid 1px red !important;
    border-color: #e63757;
    padding-right: calc(1.5em + 0.625rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23e63757'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e63757' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.15625rem) center;
    background-size: calc(0.75em + 0.3125rem) calc(0.75em + 0.3125rem);
  }

  .nomal_border {
    border: solid 1px #00d27a !important;
    border-color: #00d27a;
    padding-right: calc(1.5em + 0.625rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300d27a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.15625rem) center;
    background-size: calc(0.75em + 0.3125rem) calc(0.75em + 0.3125rem);
  }

  .nomal_border_pw {
    border: solid 1px #00d27a !important;
    border-color: #00d27a;
    padding-right: calc(1.5em + 0.625rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300d27a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(2.375em + 0.15625rem) center;
    background-size: calc(0.75em + 0.3125rem) calc(0.75em + 0.3125rem);
  }

  .error_border_pw {
    border: solid 1px red !important;
    border-color: #e63757;
    padding-right: calc(1.5em + 0.625rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23e63757'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e63757' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(2.375em + 0.15625rem) center;
    background-size: calc(0.75em + 0.3125rem) calc(0.75em + 0.3125rem);
  }

  /*.error_border2 {
            border: 1px solid var(--falcon-input-border-color);
        }*/
  .error_msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 75%;
    color: #e63757;
    font-style: italic;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.3125rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--falcon-input-color);
    background-color: var(--falcon-input-bg);
    background-clip: padding-box;
    /*border: 1px solid var(--falcon-input-border-color);*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-box-shadow: var(--falcon-box-shadow-inset);
    box-shadow: var(--falcon-box-shadow-inset);
    webkit-transition:
      border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition:
      border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    -o-transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }

  .theme-wizard .nav-link.active .nav-item-circle {
    background-color: var(--color-green) !important;
    color: #fff;
    border-color: var(--color-green);
  }

  .theme-wizard .nav-link.active {
    color: var(--color-green);
  }

  .star_color {
    color: #e4603c;
  }

  [v-cloak] {
    display: none !important;
  }

  /* 驗證碼 */
  .progessbar {
    position: relative;
    text-align: center;
    border: 1px dashed blue;
    height: 16px;
    width: 100%;
  }

  .progessbar .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 16px;
    z-index: 10;
    color: black;
  }

  .progessbar .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    background-color: DeepSkyBlue;
  }

  .disFunc {
    pointer-events: none;
  }

  #pdf_container {
    background: #ffffff;
    text-align: center;
    display: none;
    padding: 1px;
    overflow: auto;
  }

  @@media (min-width: 576px) {
    #pdf-content {
      max-width: 838px;
      margin: 1.75rem auto;
    }
  }

  .btn-primary {
    background-color: var(--color-green);
    border-color: var(--color-green);
  }

  @@media (hover: hover) and (pointer: fine) {
    .btn-primary:hover {
      color: #fff;
      background-color: #016559;
      border-color: #016559;
    }
  }

  .ean-icon {
    height: 35px;
    margin-right: -3px;
  }

  .ean-line {
    display: flex;
    align-items: center;
  }

  .ean-line .btn-primary {
    margin-left: 10px;
  }

  .bg-auth-circle-shape-2 {
    position: absolute;
    left: -6.25rem;
    bottom: -4.4375rem;
  }

  /* ----------- stepper 開始 ------------- */
  .theme-wizard .nav-link.done {
    color: var(--color-green);
  }

  .theme-wizard .nav-link.done .nav-item-circle-parent:before,
  .theme-wizard
    .nav-item:not(:first-child)
    .active
    .nav-item-circle-parent:after {
    background-color: var(--color-green);
  }

  .theme-wizard .nav-link.done .nav-item-circle {
    background-color: var(--color-green) !important;
    border-color: var(--color-green);
  }

  /* ----------- stepper 結束 ------------- */
  /* ----------- email驗證 開始 ------------- */
  #mail-modal .slogan {
    color: var(--color-dark-green);
    font-weight: bold;
  }

  #mail-modal .form-label {
    color: var(--falcon-headings-color);
  }

  #mail-modal .send-mail-wrapper {
    border-bottom: 1px solid #e1ece9;
  }

  /* 停用狀態 (倒數中或發送中) */
  #mail-modal .submit-btn:disabled {
    background-color: var(--falcon-secondary);
    cursor: not-allowed;
    border-color: var(--falcon-secondary);
  }

  /* ----------- email驗證 結束 ------------- */
</style>

<div class="mt-3" id="app">
  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-lg-7 col-xxl-5">
      <div class="card theme-wizard mb-5">
        <div class="card-header bg-light pt-3 pb-2">
          @* 流程 *@
          <ul class="nav justify-content-between nav-wizard">
            <li class="nav-item">
              <a
                class="nav-link active fw-semi-bold"
                href="#bootstrap-wizard-tab1"
                data-wizard-step="data-wizard-step"
                ><span class="nav-item-circle-parent"
                  ><span class="nav-item-circle"
                    ><span class="fas fa-user"></span></span></span
                ><span class="d-none d-md-block mt-1 fs--1">註冊會員</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link fw-semi-bold"
                href="#bootstrap-wizard-tab2"
                data-wizard-step="data-wizard-step"
                ><span class="nav-item-circle-parent"
                  ><span class="nav-item-circle"
                    ><span class="fas fa-cloud-upload-alt"></span></span></span
                ><span class="d-none d-md-block mt-1 fs--1">上傳照片</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link fw-semi-bold"
                href="#bootstrap-wizard-tab3"
                data-bs-toggle="tab"
                data-wizard-step="data-wizard-step"
                ><span class="nav-item-circle-parent"
                  ><span class="nav-item-circle"
                    ><span class="far fa-edit"></span></span></span
                ><span class="d-none d-md-block mt-1 fs--1"
                  >填寫基本資料</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link fw-semi-bold"
                href="#bootstrap-wizard-tab4"
                data-wizard-step="data-wizard-step"
                ><span class="nav-item-circle-parent"
                  ><span class="nav-item-circle"
                    ><span class="fas fa-thumbs-up"></span></span></span
                ><span class="d-none d-md-block mt-1 fs--1">簽署約定書</span></a
              >
            </li>
          </ul>
        </div>
        <div class="py-4" id="wizard-controller">
          <div class="tab-content">
            <div
              class="tab-pane active px-sm-3"
              role="tabpanel"
              aria-labelledby="bootstrap-wizard-tab1"
              id="bootstrap-wizard-tab1"
            >
              <img
                class="bg-auth-circle-shape"
                style="z-index: -1"
                src="~/assets/img/icons/spot-illustrations/bg-shape.png"
                alt=""
                width="250"
              /><img
                class="bg-auth-circle-shape-2"
                src="~/assets/img/icons/spot-illustrations/shape-1.png"
                alt=""
                width="150"
              />
              <div class="overflow-hidden z-index-1">
                <div class="card-body p-0">
                  <div class="row g-0 h-100">
                    <div class="col-md-12 d-flex flex-center">
                      <div v-cloak class="p-4 p-md-1 flex-grow-1">
                        <h3 class="fw-bold me-3" style="color: #00af9a">
                          註冊會員
                        </h3>
                        <div v-show="showBar" class="progessbar">
                          <div class="text"></div>
                          <div class="bar"></div>
                        </div>

                        <form>
                          <div class="mb-3 input-group">
                            <span class="input-group-text"
                              ><span class="bi-credit-card"></span
                            ></span>
                            <select
                              :class="[ru.type.error == 'ng' ? 'error_border' : ru.type.error == 'ok' ? 'nomal_border' : '','form-select js-choice']"
                              disabled
                              v-model="ru.type.v"
                              id="organizerSingle"
                              size="1"
                              name="organizerSingle"
                              data-options='{"removeItemButton":true,"placeholder":true}'
                            >
                              <option value="">--申辦項目--</option>
                              <option value="1">申辦享額度</option>
                              <option value="2" disabled>現金借款</option>
                            </select>
                            <div
                              v-show="ru.type.msg != '' ? true : false"
                              class="error_msg"
                              v-text="ru.type.msg"
                            ></div>
                          </div>
                          <div class="row gx-2 mb-3">
                            <div
                              class="col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12"
                            >
                              <div class="ean-line">
                                <span class="input-group-text ean-icon"
                                  ><span class="bi-person-fill"></span
                                ></span>
                                <input
                                  :class="[ru.pw_register.error == 'ng' ? 'error_border_pw' :ru.pw_register.error == 'ok' ? 'nomal_border_pw' : '','form-control']"
                                  :type="pwFieldType"
                                  autocomplete="on"
                                  id="card-password"
                                  placeholder="設定登入密碼"
                                  v-model.trim="ru.pw_register.v"
                                  :maxlength="maxLength"
                                  :minlength="minLength"
                                />
                                <span @@click="eye()" v-show="showPassword">
                                  <span
                                    class="bi-eye-slash-fill"
                                    style="margin-left: -30px; cursor: pointer"
                                  ></span>
                                </span>
                                <span @@click="eye()" v-show="!showPassword">
                                  <span
                                    class="bi-eye-fill"
                                    style="margin-left: -30px; cursor: pointer"
                                  ></span>
                                </span>
                              </div>
                            </div>
                            <div
                              v-show="ru.pw_register.msg != '' ? true : false"
                              class="error_msg"
                              v-text="ru.pw_register.msg"
                            ></div>
                            <span class="fs--2 fs-lg--2 mb-3">
                              至少 8 字，至多 18
                              字，內含數字及英文大小寫，不能輸入任何特殊字元，如:
                              !@@#$ %&</span
                            >
                            <div
                              class="mb-0 col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12 input-group"
                            >
                              <span class="input-group-text ean-icon"
                                ><span class="bi-person"></span
                              ></span>
                              <input
                                :class="[ru.repw_register.error == 'ng' ? 'error_border' : ru.repw_register.error =='ok' ? 'nomal_border': '','form-control']"
                                type="password"
                                autocomplete="on"
                                id="card-confirm-password"
                                placeholder="確認登入密碼"
                                v-model.trim="ru.repw_register.v"
                              />
                              <div
                                v-show="ru.repw_register.msg != '' ? true : false"
                                class="error_msg"
                                v-text="ru.repw_register.msg"
                              ></div>
                            </div>
                          </div>
                          <div class="mb-3 input-group">
                            <span class="input-group-text"
                              ><span class="bi-envelope"></span
                            ></span>
                            <input
                              :class="[ru.mail.error == 'ng' ? 'error_border' : ru.mail.error == 'ok' ? 'nomal_border' : '','form-control']"
                              type="text"
                              autocomplete="on"
                              disabled
                              v-model.trim="ru.mail.v"
                              placeholder="電子信箱"
                            />
                            <div
                              v-show="ru.mail.msg != '' ? true : false"
                              class="error_msg"
                              v-text="ru.mail.msg"
                            ></div>
                          </div>

                          <div class="mb-3 input-group">
                            <span class="input-group-text"
                              ><span class="bi-phone"></span
                            ></span>
                            <input
                              :class="[ru.mobile.error == 'ng' ? 'error_border' : ru.mobile.error == 'ok' ? 'nomal_border' : '','form-control']"
                              type="text"
                              autocomplete="on"
                              :disabled="mail_disabled"
                              v-model.trim="ru.mobile.v"
                              placeholder="輸入手機號碼"
                            />
                            <div
                              v-show="ru.mobile.msg != '' ? true : false"
                              class="error_msg"
                              v-text="ru.mobile.msg"
                            ></div>
                          </div>
                          <div class="mb-3">
                            <div class="ean-line">
                              <span class="input-group-text ean-icon"
                                ><span class="bi-phone-fill"></span
                              ></span>
                              <input
                                :class="[ru.otpNum.error == 'ng' ? 'error_border' : ru.otpNum.error == 'ok' ? 'nomal_border' : '','form-control']"
                                type="text"
                                v-model.trim="ru.otpNum.v"
                                placeholder="簡訊驗證碼"
                              />
                              <div
                                style="width: 100%"
                                :class="[sendCoded ? 'btn-secondary disFunc' : 'btn-primary','btn']"
                                @@click="SendMobileCode()"
                              >
                                發送驗證碼
                              </div>
                            </div>
                            <div
                              v-show="ru.otpNum.msg != '' ? true : false"
                              class="error_msg"
                              v-text="ru.otpNum.msg"
                            ></div>
                          </div>
                          <div class="mb-3 input-group">
                            <span class="input-group-text"
                              ><span class="bi-people"></span
                            ></span>
                            <input
                              :class="[ru.recommend_code.error == 'ng' ? 'error_border' : ru.recommend_code.error == 'ok' ? 'nomal_border' : '','form-control']"
                              type="text"
                              v-model.trim="ru.recommend_code.v"
                              :maxlength="max"
                              :disabled="disabled"
                              placeholder="輸入推薦碼(非必填)"
                            />
                            <div
                              v-show="ru.recommend_code.msg != '' ? true : false"
                              class="error_msg"
                              v-text="ru.recommend_code.msg"
                            ></div>
                          </div>

                          <div class="mb-3">
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                id="flexCheckIndeterminate"
                                type="checkbox"
                                :value="ru.agree.v"
                                v-model="ru.agree.v"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckIndeterminate"
                                ><span class="text-danger">*</span
                                >我已詳細閱讀並充分了解，同意<a href="#"
                                  ><span
                                    class="text-warning"
                                    @@click="showPdf('1')"
                                    >「隱私政策」</span
                                  ></a
                                >及<a href="#"
                                  ><span
                                    class="text-warning"
                                    @@click="showHtml()"
                                    >「行動身分識別服務使用者約定條款及隱私權告知條款」。</span
                                  ></a
                                ></label
                              >
                              <label class="form-check-label text-primary"
                                >所填之申辦資料本公司將視個人信用評分保留最終核准與否之權利。</label
                              >

                              @*<label
                                class="form-check-label"
                                for="flexCheckIndeterminate"
                                ><span class="text-danger">*</span
                                >我已詳細閱讀並充分了解，<a href="#"
                                  ><span
                                    class="text-primary"
                                    @@click="showPdf('1')"
                                    >個人資料保護法</span
                                  ></a
                                >、消費者使用條款、<a href="#"
                                  ><span
                                    class="text-primary"
                                    @@click="showPdf('2')"
                                    >行動身分識別服務使用者約定條款及隱私權告知條款</span
                                  ></a
                                ></label
                              >*@
                            </div>
                          </div>
                        </form>

                        <div class="card-footer">
                          <div class="px-sm-3 px-md-1">
                            <ul class="pager wizard list-inline mb-0">
                              <li class="previous"></li>
                              <li class="next">
                                <button
                                  class="btn btn-primary px-5 px-sm-6"
                                  style="
                                    background-color: #00af9a;
                                    border-color: #00af9a;
                                  "
                                  type="submit"
                                  @@click="Next(u)"
                                >
                                  下一步<span
                                    class="fas fa-chevron-right ms-2"
                                    data-fa-transform="shrink-3"
                                  >
                                  </span>
                                </button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* Email 驗證 *@
  <div
    class="modal fade"
    id="mail-modal"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    role="dialog"
    aria-labelledby="authentication-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div
          class="modal-header px-5 position-relative modal-shape-header"
          style="background-color: #00af9a"
        >
          <div class="position-relative z-index-1 light">
            <h4 class="mb-0 text-white" id="authentication-modal-label">
              E-mail 驗證
            </h4>
          </div>
        </div>
        <div class="modal-body py-4 px-5">
          <form>
            <div class="slogan">您最信任的分期支付平台</div>
            <h2>DUDUPAY</h2>
            <div class="send-mail-wrapper pb-4">
              <label class="form-label"
                >E-mail<span class="ms-2 text-secondary"
                  >(請輸入有效的E-mail以接收發票及登入帳號使用)</span
                ></label
              >
              <input
                class="form-control"
                type="text"
                placeholder="輸入 E-mail"
                v-on:keydown.enter.prevent
                v-model="ru.check_mail.v"
              />
              <button
                type="button"
                class="submit-btn btn btn-primary d-block mt-3 w-100"
                :disabled="countdown > 0 || isSubmitting"
                @@click="SendMailCode(ru.check_mail.v)"
              >
                {{mailBtnText}}
              </button>
            </div>

            <div class="mail-validation-wrapper pt-3">
              <label class="form-label">6 位數驗證碼</label>
              <input
                class="form-control"
                type="text"
                placeholder="輸入驗證碼"
                v-model="ru.mailNum.v"
              />
              <div
                class="btn btn-primary d-block mt-3"
                @@click="confirmMailCode(ru.mailNum.v)"
              >
                確認驗證碼
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  @* PDF *@
  <div
    class="modal fade"
    id="pdf_msg"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div id="pdf-content" class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button
            class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-0">
          <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
            <h4 class="mb-1 fw-bold">條款</h4>
          </div>
          <div class="p-4 scrollbar-overlay" style="max-height: 30rem">
            <div class="row">
              <div class="col">
                <div
                  style="width: 100%; overflow: visible"
                  id="pdf_container"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* Html *@
  <div
    class="modal fade"
    id="show_html_modal"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div id="pdf-content" class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button
            class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-0">
          <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
            <h4 class="mb-1 fw-bold">條款</h4>
          </div>
          <div class="p-4 scrollbar-overlay" style="max-height: 30rem">
            <div class="row">
              <div class="col">
                <div v-html="html_data"></div>
                @*
                <div v-html="htmlJson" style="width: 100%"></div>
                *@
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* OTP訊息 *@
  <div
    class="modal fade"
    id="otp_msg"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button
            class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-0">
          <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
            <h4 class="mb-1 fw-bold" id="tooltippopoversLabel">發送驗證碼</h4>
          </div>
          <div class="p-4 pb-0">
            <div class="row">
              <div class="col">
                【DUDUPAY】註冊驗證碼已發送， 請於 5
                分鐘內輸入以完成認證，謝謝。<br />
                <span v-text="time_msg"></span>
                <h5 style="margin-bottom: 2.25rem"></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* 顯示訊息 *@
  <div
    class="modal fade"
    id="finish_msg"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1"></div>
        <div class="modal-body p-0">
          <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
            <h4
              class="mb-1 fw-bold"
              style="color: #00af9a"
              id="tooltippopoversLabel"
            >
              會員註冊成功
            </h4>
          </div>
          <div class="p-4 pb-0">
            <div class="row">
              <div class="col">
                <p>帳號已建立完成！繼續填寫個人資料，領取個人消費額度。</p>
                <div class="d-flex">
                  <div class="p-2 flex-grow-1"></div>
                  <div
                    @@click="close()"
                    style="cursor: pointer; color: #00af9a"
                    class="p-2 fs-0"
                  >
                    繼續申辦 >>
                  </div>
                </div>
                <h5 style="margin-bottom: 2.25rem"></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @* 提示要回上一頁？ *@
  <div
    class="modal fade"
    id="backModal"
    tabindex="-1"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    aria-labelledby="tooltippopoversLabel"
    aria-hidden="true"
    style="z-index: 10001"
  >
    <div class="modal-dialog mt-6" role="document">
      <div class="modal-content border-0">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1"></div>
        <div class="modal-body p-0">
          <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
            <h4
              class="mb-1 fw-bold"
              style="color: #00af9a"
              id="tooltippopoversLabel"
            >
              註冊尚未完成
            </h4>
          </div>
          <div class="p-4 pb-0">
            <div class="row">
              <div class="col">
                <p>
                  申辦流程未完成，離開可能會造成資料缺失，確認退出本頁面嗎？
                </p>
                <div class="d-flex">
                  <div class="p-2 flex-grow-1"></div>
                  <button
                    class="btn btn-secondary m-1"
                    type="button"
                    @@click="keepPage()"
                  >
                    取消
                  </button>
                  <button
                    class="btn btn-primary m-1"
                    type="button"
                    @@click="leavePage()"
                  >
                    確定
                  </button>
                </div>
                <h5 style="margin-bottom: 2.25rem"></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@*
<script
  src="https://mozilla.github.io/pdf.js/build/pdf.mjs"
  type="module"
></script>
*@ @* PDF *@ @*
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
></script>
*@
<script type="text/javascript" src="~/js/pdf.min.js"></script>
<script src="~/js/common.js?v=1.0"></script>
<script src="~/js/register.js?v=1.32"></script>

@* 日期UI *@ @*<link
  href="~/vendors/flatpickr/flatpickr.min.css"
  rel="stylesheet"
/>
<script src="~/assets/js/flatpickr.js"></script>
*@ @*icon use bootstrap*@
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
/>
