<script src="~/js/vue-quill/quill.min.js"></script>
<link href="~/js/vue-quill/quill.snow.css" rel="stylesheet">
<link href="~/js/vue-quill/quill.bubble.css" rel="stylesheet">
@* 圖片 model *@
<script src="~/js/vue-quill/image-resize.min.js"></script>


<style>
    /*[v-cloak] {
        display: none !important;
    }*/

    /*日期 fade*/
    .v-enter-active, .v-leave-active {
        transition: opacity 1s;
    }

    .v-enter-from, .v-leave-to {
        opacity: 0;
    }

    .v-enter-to, .v-leave-from {
        opacity: 1;
    }

    /*.form-container {
        display: flex;
        gap: 20px;
        background-color: #fdf5e6;
        padding: 20px;
    }*/

    /*.form-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

        .form-group label {
            margin-bottom: 6px;
            font-weight: bold;
            font-size: 14px;
        }

        .form-group input {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }*/

    /* upload 加入你原始的 CSS 這裡可以直接貼進來 */
    .upload-area {
        height: 410px;
        width: 410px;
        border: 2px dashed #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: #f9f9f9;
        transition: all 0.3s;
        cursor: pointer;
    }

        .upload-area:hover {
            border-color: #007bff;
        }

        .upload-area.has-image {
            border-color: #28a745;
            background: white;
        }

    .upload-icon {
        width: 5rem;
        opacity: 0.5;
    }

    .preview-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .edit-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 12px;
    }

    .crop-modal {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .crop-container {
        background: white;
        padding: 30px;
        padding-left: 30px;
        border-radius: 12px;
        width: 90%;
        max-width: 500px;
        text-align: center;
    }

    .crop-area {
        position: relative;
        width: 410px;
        height: 410px;
        border: 2px solid #ddd;
        border-radius: 8px;
        margin: 20px auto;
        overflow: hidden;
        background: #f9f9f9;
    }

    .crop-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        max-width: none;
        max-height: none;
        user-select: none;
    }

    .zoom-btn {
        background: #f0f0f0;
        border: 1px solid #ddd;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .zoom-slider {
        width: 150px;
    }

    td {
        min-width: 92px;
    }

    .date span {
        cursor: pointer;
    }

    .tab-pane img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .other-photoes-wrapper > div {
        width: 25%;
        min-height: 130px;
    }

    .prd-style > div {
        width: 48%
    }
</style>


<div id="app" class="mt-2 mb-5" style="min-height:600px;">


    <div class="row justify-content-center pt-4">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xxl-9">

            <div class="d-flex justify-content-center">
                <span class="fw-bold p-0" style="color:#00af9a;font-size:1.7rem;">商品管理</span>
            </div>
            @*<div class="d-flex mb-0 flex-row-reverse">
                    <div class="fs--2 p-2">權限：{{m.dealer_role}}</div>
                    <div class="fs--2 p-2">使用者：{{m.dealer_acc}}</div>
                </div>*@


            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="pill-home-tab" data-bs-toggle="tab" href="#pill-tab-home" role="tab" aria-controls="pill-tab-home" aria-selected="true">店家設定</a></li>
                <li class="nav-item"><a class="nav-link" id="productList-tab" data-bs-toggle="tab" href="#tab-productList" role="tab" aria-controls="tab-productList" aria-selected="false">商品列表</a></li>
                <li class="nav-item"><a class="nav-link" id="productClass-tab" data-bs-toggle="tab" href="#tab-productClass" role="tab" aria-controls="tab-productClass" aria-selected="false">分類管理</a></li>
            </ul>
            <div class="tab-content border p-3 mt-3" id="pill-myTabContent">
                @* 店家設定 *@
                <div class="tab-pane fade show active" id="pill-tab-home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex">
                        <div class="p-2 w-75"><span class="fw-bold text-black fs-2">基本設定</span></div>
                        <div class="p-2 flex-shrink-1">
                            <a :href="'OnlineStore?store='+ storeJson.store_no" target="_blank">
                                <button class="btn btn-primary me-1 mb-1" type="button">
                                    <span class="fas fa-home me-1" data-fa-transform="shrink-3"></span>前往瀏覽商店頁
                                </button>
                            </a>
                        </div>
                    </div>

                    <hr style="height:3px;color:black">
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            LOGO上傳
                            <div style="display:flex;justify-content:center;" class="border border-1">
                                <div class="d-flex flex-wrap  mb-3 align-content-center justify-content-center " style="height:410px;width:410px;">

                                    @* 上傳照 *@
                                    <div v-if="showUploadDiv">
                                        <label for="abc" style="margin:0;cursor:pointer;float:left;position:relative"> <img style="width:5rem;float:left;position:relative" src="~/assets/img/icons/cloud-upload.svg" /></label>
                                        <input id="abc" style="visibility:hidden;width:7px;height:15px;" type="file" ref="file_1" @@change="handleFileUpload('logo',$event)">
                                    </div>
                                    @* 刪除 *@
                                    <div v-else class="d-flex flex-wrap  mb-3 justify-content-end" style="position:absolute">
                                        <span @@click="delLogoImg()"> <span style="float:left;left:0px;top:205px;position:relative" class="far fa-trash-alt fs-2 mt-1 text-danger"></span></span>
                                    </div>
                                    <img :src="image1_path" style="width:100%;height:100%;object-fit:cover" />
                                </div>
                            </div>
                            <span class="fs--2">
                                圖片尺寸：410x410 px，
                                檔案大小建議在3MB以下， 圖片格式限定為: jpg、jpeg、png
                            </span>
                        </div>
                        <div class="col-lg-7 col-12">

                            <div class="mb-3">
                                <label class="form-label">店家狀態</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" v-model="storeJson.store_checked" />
                                    @*<label class="form-check-label" for="flexSwitchCheckDefault">OFF</label>*@
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">經銷代號</label>
                                <button class="btn btn-secondary btn-sm ms-2" type="button" disabled>{{storeJson.dealer_name}}</button>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"><span class="text-danger">*</span>商店名稱</label>
                                <input class="form-control" type="text" placeholder="自訂商店名稱(10字內)" v-model.trim="storeJson.store_name" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">自取地址</label>
                                <input class="form-control" type="text" placeholder="作為自取與展示地址,未填將停用自取選項" v-model.trim="storeJson.store_address" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">商店描述</label>
                                <textarea class="form-control" rows="3" placeholder="輸入店家名稱下方簡單描述(50字內)" v-model.trim="storeJson.store_desc"></textarea>
                            </div>
                        </div>

                    </div>


                    <div class="d-flex justify-content-center mb-2 mt-4">
                        <button class="btn btn-danger me-4 mb-1" type="button" @@click="unDo()">放 棄 保 存</button>
                        <button class="btn btn-success  mb-1" type="button" @@click="storeSave(storeJson)">保 存 設 定</button>
                    </div>



                </div>
                @* 商品列表 *@
                <div class="tab-pane fade" id="tab-productList" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="tab-pane fade show active" id="tab-home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="mb-3" id="ordersTable" data-list="{&quot;pagination&quot;:true}">
                            <div>
                                @*v-if="showPayButton"*@
                                @*<div class="d-flex justify-content-end">
                                        <div class="p-0">
                                            <div>
                                                <div class="d-flex">
                                                    <button @@click="showConfirmPayAll()" class="btn btn-success btn-sm ms-2" type="button">確認撥款</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="d-flex justify-content-start mb-2 gap-3 flex-wrap flex-lg-nowrap">
                                    @*<span style="margin-top:0.2rem;">顯示篩選</span>*@

                                    <select class="form-select mb-3" aria-label="Default select example" v-model="sel_up_down" @@change="sel_up_down_class_list(sel_up_down)">
                                        <option value="">--上下架狀態--</option>
                                        <option value="all">全部</option>
                                        <option value="up">上架</option>
                                        <option value="down">下架</option>
                                    </select>
                                    <select class="form-select mb-3" aria-label="Default select example" v-model="sel_class_name" @@change="sel_product_class_list(sel_class_name)">
                                        <option value="">--選擇分類--</option>
                                        <option value="all">全部</option>
                                        <option v-for="v in product_class_listJson" :value="v.class_name">{{v.class_name}}</option>


                                    </select>
                                    <div class="input-group mb-3">
                                        <input class="form-control shadow-none search" type="search" placeholder="請輸入商品關鍵字" aria-label="search" v-model.trim="query_value">
                                        <div class="input-group-text bg-100" @@click="query(query_value)">
                                            <span class="fa fa-search fa-w-16 fs-0 text-600"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mb-2 bg-200">
                                    <div class="p-2">
                                        <button @@click="addProduct()" class="btn btn-danger  me-1 mb-1" type="button">
                                            <span class="fas fa-plus me-1" data-fa-transform="shrink-3"></span>新增商品
                                        </button>
                                        <a href="~/Home/UploadBatch">
                                            <button class="btn btn-success  me-1 mb-1" type="button">
                                                <span class="fas fa-cloud-upload-alt me-1" data-fa-transform="shrink-3"></span>批次上傳
                                            </button>
                                        </a>
                                        @*<button class="btn btn-success btn-sm ms-2" type="button">勾選上架</button>*@
                                        @*<button class="btn btn-secondary btn-sm ms-2" type="button">勾選下架</button>
                                            <button class="btn btn-secondary btn-sm ms-2" type="button">勾選刪除</button>*@
                                    </div>
                                </div>

                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive scrollbar">
                                    <table class="table table-sm table-striped fs--1 fs-md--1 fs-lg-0 mb-0 overflow-hidden">
                                        <thead class="bg-200 text-900">
                                            <tr>
                                                @*<th>
                                                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                                                            <input class="form-check-input" type="checkbox" v-model="allChecked" @@click="checkAll(allChecked)">
                                                        </div>
                                                    </th>*@
                                                <th class="sort pe-1 align-middle white-space-nowrap">上/下架</th>
                                                <th class="sort pe-1 align-middle white-space-nowrap">圖片</th>
                                                <th class="sort pe-1 align-middle white-space-nowrap">商品名稱</th>
                                                <th class="sort pe-1 align-middle white-space-nowrap">分類</th>
                                                <th class="sort pe-1  white-space-nowrap align-content-end">連結時效</th>
                                                <th class="sort pe-4 text-end white-space-nowrap">編輯</th>

                                            </tr>
                                        </thead>
                                        <tbody class="list" id="table-orders-body">
                                            <tr class="btn-reveal-trigger" v-for="v in productListJson" >
                                                @*<td class="align-middle" style="width: 28px;">
                                                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                                                            <input class="form-check-input" type="checkbox" v-model="v.product_status" :disabled="v.file_upload !='*' ? true : false"  @@click="checkOne(v)">
                                                        </div>
                                                    </td>*@
                                                <td class="order py-2 align-middle   fw-medium white-space-nowrap">
                                                    <div class="form-check form-switch">
                                                        <input @@click="setProductStatus(v)" class="form-check-input" type="checkbox" v-model="v.product_status" />
                                                    </div>
                                                </td>
                                                <td class="name py-2 align-middle fw-medium">
                                                    <img style="width:110px;" :src="v.product_imagebase64" />
                                                </td>
                                                <td class="item py-2 align-middle fw-medium">{{v.product_name}}</td>
                                                <td class="amount-1 py-2 align-middle  fw-medium">
                                                    <span v-if="v.product_class != null">
                                                        <span v-for="vv in v.product_class"><span v-if="vv.ClassChecked">#{{vv.ClassName}}<br></span></span>
                                                    </span>
                                                </td>
                                                <td class="amount-2 py-2 align-middle fw-medium">{{v.date_s}}~{{v.date_e}}</td>
                                                <td class="date py-2 align-middle text-end fw-medium">
                                                    <div class="d-flex">
                                                        @* 編輯 *@
                                                        <span @@click="showEditProduct(v)"><span class="fas fa-edit text-success fs-2 bg-soft-success  me-2"></span></span>
                                                        @* 置頂 *@
                                                        <span @@click="toFirstUp(v.product_id)"><span class="fas fa-tenge text-info fs-2 bg-soft-info me-2"></span></span>
                                                        @* 刪除 *@
                                                        <span @@click="delProduct(v.product_id)"><span class="fas fa-trash-alt text-danger fs-2 bg-soft-danger"></span></span>
                                                    </div>


                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mb-3 " data-list="{&quot;pagination&quot;:true}">
                                <div class="card-footer">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <!-- 上一頁 -->
                                        <button @@click.prevent="setPage(currentPage-1)"
                                                class="btn btn-sm btn-falcon-default me-1"
                                                type="button"
                                                title="Previous"
                                                :disabled="disabled_prev">
                                            <span class="fa fa-chevron-left fa-w-10"></span>
                                        </button>

                                        <!-- 頁碼 -->
                                        <ul class="pagination mb-0">
                                            <li v-for="(n, index) in displayPages"
                                                :key="index"
                                                :class="{'active': currentPage === n, 'disabled': n === '...'}"
                                                @@click.prevent="setPage(n)">
                                                <button class="page btn btn-sm"
                                                        type="button"
                                                        :disabled="n === '...'">
                                                    {{ n }}
                                                </button>
                                            </li>
                                        </ul>

                                        <!-- 下一頁 -->
                                        <button @@click.prevent="setPage(currentPage+1)"
                                                class="btn btn-sm btn-falcon-default ms-1"
                                                type="button"
                                                title="Next"
                                                :disabled="disabled_next">
                                            <span class="fa fa-chevron-right fa-w-10"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                @* 分類管理 *@
                <div class="tab-pane fade" id="tab-productClass" role="tabpanel" aria-labelledby="contact-tab">

                    <div class="mb-3">
                        <div class="d-flex">
                            <div class="p-2 flex-fill">
                                <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="新增分類名稱" v-model.trim="productClass.name" />
                            </div>
                            <div class="p-2 flex-fill">
                                <button @@click="addClass(productClass.name)" class="btn btn-primary">新增</button>
                            </div>
                        </div>
                        <hr>

                    </div>

                    <div class="table-responsive scrollbar">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">名稱</th>
                                    <th class="text-end" scope="col">編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="v in productClassJson">
                                    <td>{{v.class_name}}</td>
                                    <td class="text-end">
                                        <div>
                                            <button @@click="editClass(v)" class="btn p-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="text-500 fas fa-edit"></span></button>
                                            <button @@click="delClass(v)" class="btn p-0 ms-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-500 fas fa-trash-alt"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>





        </div>
    </div>


    @* 新增/編輯商品 *@
    <div class="modal fade" id="add-product-modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="tooltippopoversLabel" aria-hidden="true" style="z-index:10001">
        <div class="modal-dialog modal-xl mt-6" role="document">
            <div class="modal-content border-0 ">
                <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="d-flex justify-content-center alert-danger rounded-top-lg py-3">
                        <p>新增/編輯商品</p>
                    </div>
                    <ul class="nav nav-pills mt-3 px-3" id="pill-myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="pill-home-tab" data-bs-toggle="tab" href="#pill-tab-prdduct" role="tab" aria-controls="pill-tab-home" aria-selected="true">商品資訊</a></li>
                        @*<li class="nav-item"><a class="nav-link" id="pill-profile-tab" data-bs-toggle="tab" href="#pill-tab-advance" role="tab" aria-controls="pill-tab-profile" aria-selected="false">進階設定</a></li>*@
                    </ul>
                    <div class="tab-content border p-3 mt-3" id="pill-myTabContent">
                        <div class="tab-pane fade show active" id="pill-tab-prdduct" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="main-photo mb-3">
                                        <span class="fw-bold text-black">主封面照</span>
                                        <div class="border border-1">
                                            <div class="d-flex flex-wrap  align-content-center justify-content-center ">
                                                @* 上傳照 *@
                                                <div v-if="showProductUploadDiv_1">
                                                    <label for="abc1" style="margin:0;cursor:pointer;float:left;position:relative"> <img style="width:5rem;float:left;position:relative;" src="~/assets/img/icons/cloud-upload.svg" /></label>
                                                    <input id="abc1" style="visibility:hidden;width:7px;height:15px;" type="file" ref="file_product_1" @@change="handleFileUpload('image_1',$event)">
                                                </div>
                                                @* 刪除 *@
                                                <div v-else class="d-flex flex-wrap  mb-3 justify-content-end" style="position:absolute">
                                                    <span @@click="delProductImg('image_1.jpg',productJson.product_id)"> <span style="float:left;left:0px;top:205px;position:relative" class="far fa-trash-alt fs-2 mt-1 text-danger"></span></span>
                                                </div>
                                                <img v-if="image_product_1 !=''" :src="image_product_1" style="width:100%;height:100%" />
                                            </div>
                                        </div>
                                        <span class="fs--1">
                                            圖片尺寸：410x410 px，
                                            檔案大小建議在3MB以下， 圖片格式限定為: jpg、jpeg、png
                                        </span>
                                    </div>
                                    <div class="other-photoes mb-3">
                                        <span class="fw-bold text-black">其他商品照</span>
                                        <div class="border border-1">
                                            <div>
                                                @* 上傳照2 *@
                                                <div class="d-flex other-photoes-wrapper">
                                                    <div style="position:relative;">
                                                        <span v-if="image_product_2 ==''" style="left:2rem;top:3rem;position:absolute">
                                                            <label for="abc2" style="margin:0;cursor:pointer;"> <img style="width:2rem;" src="~/assets/img/icons/cloud-upload.svg" /></label>
                                                            <input id="abc2" style="visibility:hidden;width:7px;height:15px;" type="file" ref="file_product_2" @@change="handleFileUpload('image_2',$event)">
                                                        </span>
                                                        <span v-else @@click="delProductImg('image_2.jpg',productJson.product_id)"> <span style="left:3rem;top:3rem;position:absolute" class="far fa-trash-alt fs-2 mt-1 text-danger"></span></span>
                                                        <img v-if="image_product_2 !=''" :src="image_product_2" class="w-100" />
                                                        <span style="position:absolute;bottom:0;left:50%;padding:10px;text-align:center;transform:translateX(-50%)" class="fs--2">第1張</span>
                                                    </div>

                                                    <div style="position:relative;">
                                                        <span v-if="image_product_3 ==''" style="left: 2rem; top: 3rem; position: absolute">
                                                            <label for="abc3" style="margin:0;cursor:pointer;"> <img style="width:2rem;" src="~/assets/img/icons/cloud-upload.svg" /></label>
                                                            <input id="abc3" style="visibility:hidden;width:7px;height:15px;" type="file" ref="file_product_3" @@change="handleFileUpload('image_3',$event)">
                                                        </span>
                                                        <span v-else @@click="delProductImg('image_3.jpg',productJson.product_id)"> <span style="left:3rem;top:3rem;position:absolute" class="far fa-trash-alt fs-2 mt-1 text-danger"></span></span>
                                                        <img v-if="image_product_3 !=''" :src="image_product_3" class="w-100" />
                                                        <span style="position:absolute;bottom:0;left:50%;padding:10px;text-align:center;transform:translateX(-50%)" class="fs--2">第2張</span>
                                                    </div>
                                                    <div style="position:relative;">
                                                        <span v-if="image_product_4 ==''" style="left: 2rem; top: 3rem; position: absolute">
                                                            <label for="abc4" style="margin:0;cursor:pointer;"> <img style="width:2rem;" src="~/assets/img/icons/cloud-upload.svg" /></label>
                                                            <input id="abc4" style="visibility:hidden;width:7px;height:15px;" type="file" ref="file_product_4" @@change="handleFileUpload('image_4',$event)">
                                                        </span>
                                                        <span v-else @@click="delProductImg('image_4.jpg',productJson.product_id)"> <span style="left:3rem;top:3rem;position:absolute" class="far fa-trash-alt fs-2 mt-1 text-danger"></span></span>
                                                        <img v-if="image_product_4 !=''" :src="image_product_4" class="w-100" />
                                                        <span style="position:absolute;bottom:0;left:50%;padding:10px;text-align:center;transform:translateX(-50%)" class="fs--2">第3張</span>
                                                    </div>
                                                    <div style="position:relative">
                                                        <span v-if="image_product_5 ==''" style="left: 2rem; top: 3rem; position: absolute">
                                                            <label for="abc5" style="margin:0;cursor:pointer;"> <img style="width:2rem;" src="~/assets/img/icons/cloud-upload.svg" /></label>
                                                            <input id="abc5" style="visibility:hidden;width:7px;height:15px;" type="file" ref="file_product_5" @@change="handleFileUpload('image_5',$event)">
                                                        </span>
                                                        <span v-else @@click="delProductImg('image_5.jpg',productJson.product_id)"> <span style="left:3rem;top:3rem;position:absolute" class="far fa-trash-alt fs-2 mt-1 text-danger"></span></span>
                                                        <img v-if="image_product_5 !=''" :src="image_product_5" class="w-100" />
                                                        <span style="position:absolute;bottom:0;left:50%;padding:10px;text-align:center;transform:translateX(-50%)" class="fs--2">第4張</span>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <span class="fs--1">最多4張， 圖片格式限定為: jpg、jpeg、png</span><br>
                                    </div>



                                </div>
                                <div class="col-12 col-lg-7">

                                    <div class="mb-3">
                                        <div class="d-flex justify-content-start">
                                            <label class="form-label me-1 fw-bold text-black">商品名稱(上下架)</label>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" v-model="productJson.product_status" />
                                                @*<label class="form-check-label" for="flexSwitchCheckDefault">OFF</label>*@
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <span class="text-danger">*</span><input class="form-control" type="text" placeholder="請輸入商品名稱" v-model.trim="productJson.product_name" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold text-black"><span class="text-danger">*</span>選擇商品上下架時間</label>
                                        <div class="d-flex justify-content-start mb-2">
                                            <input class="form-control datetimepicker" data-options='{"disableMobile":true}' style="fill:none;background-color:white;" id="datepicker" type="text" v-model="productJson.date_s" />
                                            ~<input class="form-control datetimepicker" data-options='{"disableMobile":true}' style="fill:none;background-color:white;" id="datepicker" type="text" v-model="productJson.date_e" />
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold text-black">新增規格(商品差異)<span @@click="addProductSpec()"><span class="fas fa-plus-circle fs-2 text-success"></span></span></label>
                                        <div v-for="(v,index) in productJson.product_spec" class="d-flex flex-md-nowrap flex-wrap mb-2 prd-style">
                                            <div class="form-group me-1">
                                                <span class="fs--2"><span class="text-danger">*</span>規格名稱</span>
                                                <input class="form-control" type="text" placeholder="EX:(23.58公分,黃色10x10...)" v-model.trim="v.name" />
                                            </div>
                                            <div class="form-group me-1">
                                                <span class="fs--2">本平台可販售數量</span>
                                                <input class="form-control" type="number" placeholder="輸入數字" v-model.trim="v.qty" />
                                            </div>
                                            <div class="form-group me-1">
                                                <span class="fs--2">銷售金額(需含運費)</span>
                                                <input class="form-control" type="number" placeholder="輸入金額" v-model.trim="v.cash" />
                                            </div>
                                            <div class="d-flex">
                                                <div class="form-group me-1">
                                                    <span class="fs--2">宅配</span>
                                                    <div class="form-check">
                                                        <input class="form-check-input" style="width:1.5em;height:1.5em;" id="inlineCheckbox1" type="checkbox" value="option1" v-model="v.car_checked" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="fs--2">自取</span>
                                                    <div class="form-check">
                                                        <input class="form-check-input me-1" style="width:1.5em;height:1.5em;" id="inlineCheckbox2" type="checkbox" value="option2" v-model="v.home_checked" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <span class="fs--2">刪除</span>
                                                    <div @@click="delProductSpec(index)"><span class="fas fa-trash-alt text-danger fs-2 bg-soft-danger mt-1"></span></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mb-3">
                                        <label class="form-label">商品分類(可複選)</label><br>
                                        <button v-for="v in productJson.product_class" @@click="selClass(v)" :class="[v.ClassChecked ? 'bg-info' : '','btn btn-falcon-default rounded-pill me-1 mb-1']" type="button">{{v.ClassName}}</button>
                                    </div>
                                    <hr>
                                    <div class="mb-3">
                                        <label class="form-label fw-bold text-black">商品詳細資訊</label>
                                        <div id="editor" style="height:520px;">
                                            @*<textarea v-model="content"></textarea>*@
                                            <textarea v-model="productJson.product_desc"></textarea>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div class="d-flex justify-content-end mb-2 mt-4">
                                <button @@click="productSave(productJson)" class="btn btn-success  mb-1" type="button">建 立 / 保 存</button>
                            </div>
                        </div>
                        @*<div class="tab-pane fade" id="pill-tab-advance" role="tabpanel" aria-labelledby="profile-tab">
                                建構中
                            </div>*@
                    </div>



                    @*<div class="d-flex justify-content-center mb-3">
                            <div class="btn btn-primary me-3" @@click="confirmDelete(confirm)" style="background-color:#00af9a;border-color:#00af9a">確 定</div>
                                <div class="btn btn-primary" data-bs-dismiss="modal" style="background-color:#00af9a;border-color:#00af9a">取 消</div>
                        </div>*@
                </div>
            </div>
        </div>


    </div>

    @* 顯示 確認刪除商品 *@
    <div class="modal fade" id="del_product_modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="tooltippopoversLabel" aria-hidden="true" style="z-index:10001">
        <div class="modal-dialog mt-6" role="document">
            <div class="modal-content border-0">
                <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="d-flex justify-content-center alert-danger rounded-top-lg py-3 ps-4 pe-6">
                        <span class="fas fa-exclamation-triangle text-danger fs-5"></span>
                    </div>
                    <div class="d-flex justify-content-center text-success">


                    </div>

                    <div class="d-flex mb-3">
                        <div class="p-2  flex-grow-1">
                            <p class="fs-0 fw-bold">是否確認刪除商品？</p>
                            該商品刪除後無法復原
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <div class="btn btn-secondary me-3" data-bs-dismiss="modal">取消</div>
                        <div class="btn btn-danger" @@click="confirmDelProduct()">確定</div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    @* 編輯分類 *@
    <div class="modal fade" id="product_class_modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="tooltippopoversLabel" aria-hidden="true" style="z-index:10001">
        <div class="modal-dialog mt-6" role="document">
            <div class="modal-content border-0">
                <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="d-flex justify-content-center alert-secondary rounded-top-lg py-3 ps-4 pe-6">
                        <p>編輯名稱</p>
                        @*<span class="fas fa-exclamation-triangle text-danger fs-5"></span>*@
                    </div>

                    <div class="mb-3 p-4">
                        <label class="form-label" for="exampleFormControlInput1">名稱:</label>
                        <input class="form-control" id="exampleFormControlInput1" type="text" v-model.trim="productClass.class_name" />
                    </div>


                    <div class="d-flex justify-content-center mb-3">
                        <div class="btn btn-secondary me-3" data-bs-dismiss="modal">取消</div>
                        <div class="btn btn-danger" @@click="confirmEditProductClass(productClass.class_name)">送出</div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>


<script src="~/js/common.js?v=1.0"></script>
<script src="~/js/dealerProduct.js?v=1.0.5"></script>



@* 日期UI *@
<link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />
<script src="~/assets/js/flatpickr.js"></script>

@*icon use bootstrap*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" />

