<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>primevue</title>
    <script type="module" src="primevue.js" defer></script>
  </head>
  <body>
    <div id="app">
      <span class="p-float-label" style="display: block; margin-bottom: 2rem">
        <p-datepicker
          id="birthday"
          v-model="birth"
          dateFormat="yy-mm-dd"
        ></p-datepicker>
        <label for="birthday">生日</label>
      </span>
      <!-- <p-datepicker v-model="date"></p-datepicker> -->
    </div>
  </body>
</html>
