:root {
  --color-blue: #1779a4;
  --xPadding: 2rem;
  --color-gray-4: #d0d4d7;
  --color-text: #32322e;
  --color-primary: #e8456b;
  --color-danger: #f16f63;
  --color-gray-7: 656b6e;
  --color-gray-3: #e3e6e8;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.section {
  max-width: 60em;
}

.nav-tabs.nav-custom .nav-link {
  border: none;
  border-bottom: 1px solid #e3e6e8;
  padding: 1.25rem 1rem;
  position: relative;
}
ul#myTab,
.nav-tabs.nav-custom .nav-link.active {
  border-bottom: 1px solid #e3e6e8;
}
.nav-tabs.nav-custom .nav-link:hover,
.nav-tabs.nav-custom .nav-link:focus,
.nav-tabs.nav-custom .nav-link.active {
  color: var(--color-blue);
}

.nav-tabs.nav-custom .nav-link {
  color: black;
}

.nav-tabs.nav-custom .nav-link::before {
  content: "";
  border-bottom: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-blue);
  opacity: 0;
  transition: 0.2s;
}

.nav-tabs.nav-custom .nav-link.active::before,
.nav-tabs.nav-custom .nav-link:hover,
.nav-tabs.nav-custom .nav-link:focus {
  opacity: 1;
}

/* 表單樣式 */
.basic-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.input-underlined,
.select {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  z-index: 0;
}

.input-underlined input[type="text"],
.select .form-select {
  width: 100%;
  padding: 1.5rem var(--xPadding) 0.25rem;
  border: none;
  border-bottom: 1px solid var(--color-gray-4);
  border-radius: 0;
  outline: none;
  text-align: left;
}

.input-underlined .label,
.select .label {
  color: var(--color-text);
}

.input-underlined .label,
.select .label {
  position: absolute;
  top: 1.85rem;
  left: var(--xPadding);
  transform: translateY(-50%);
  color: var(--color-text);
  pointer-events: none;
  transition: 0.2s ease;
  transition-property: transform, top, font-size;
}

.input-underlined input[type="text"]:focus ~ .label,
.input-underlined input[type="text"].filled ~ .label,
.form-select:focus ~ .label,
.form-select.filled ~ .label,
.select.focus .label {
  top: 0;
  left: var(--xPadding);
  transform: translate(0);
  font-size: 0.85rem;
}

.input-underlined input[type="text"]:focus,
.form-select:focus {
  border-bottom: 2px solid var(--color-primary);
}

.input-underlined.required .label:before,
.select .label:before,
.type-container .label::before {
  content: "*";
  position: absolute;
  left: calc(var(--xPadding) * -0.5);
  top: calc(50% + 0.1rem);
  transform: translateY(-50%);
  color: var(--color-danger);
}

/* .error-message */
.error-message {
  display: none;
  padding: 0 8px;
  line-height: 1;
  grid-template-columns: auto 1fr;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-danger);
}

span.error-message::before {
  width: 1rem;
  height: 1rem;
  content: "i";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-danger);
  color: #fff;
  font-size: 1em;
}

/* .dropdown */

.dropdown-placeholder {
  position: absolute;
  top: 24px;
  left: 32px;
  color: #8e9294;
  opacity: 0;
}
/* 
.select.empty .dropdown-placeholder {
  opacity: 1;
} */

.form-select:focus option:first-of-type,
.form-select.filled option:first-of-type {
  display: none;
}

.dropdown-menu.show {
  display: block;
  background: #fff;
  color: #495057;
  border: 0;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px 0 #00000024,
    0 1px 10px 0 #0000001f;
  margin-top: 0.5rem !important;
  border-radius: 0.75rem;
  overflow: hidden;
  width: 100%;
}

.input-underlined.address,
.type-container,
.subtitle {
  grid-column: 1 / span 2;
}

.type-container {
  gap: 40px;
  margin-top: 2rem;
  padding: 1.5rem var(--xPadding) 0.25rem;
}

.type-container .label {
  position: relative;
}

.subtitle {
  margin-top: 2rem;
  color: var(--color-blue);
}

/* ===============進度條1 開始 ===============*/
.section-progress {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  box-shadow: rgb(221, 224, 235) 0px -1px 2px 0px;
  box-sizing: border-box;
  border-top: 1px solid rgb(227, 227, 227);
  z-index: 10;
}

.progress-container {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  gap: 10px;
}

.progress {
  width: 320px;
}

.progress-text {
  color: var(--color-blue);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  min-height: 0.01px;
  margin: 0px 0px 0px 10px;
  flex: 1 1 5%;
  font-weight: bold;
}

.subtitle-container {
  margin-top: 2rem;
  grid-column: 1 / span 2;
}

.subtitle-container .subtitle {
  margin: 0;
}

/* ===============進度條1 結束 ===============*/

.title {
  margin: 1rem 0;
}

body {
  color: var(--color-text) !important;
  padding-bottom: 100px;
}

/* ===============進度條2 開始 ===============*/

.steps-indicator {
  --step: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.35rem;
  margin: 21rem 0 2rem;
}

.steps-indicator span {
  background-color: var(--color-gray-3);
}

.steps-indicator span.filled {
  background-color: var(--color-text);
  height: 0.35rem;
}

/* ===============進度條2 結束 ===============*/

/* ===============radio 開始 ===============*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
}
.field-title {
  grid-column: span 2;
}

.form-check-input[type="radio"] {
  position: relative;
  border: 1px solid var(--color-gray-4);
  cursor: pointer;
  transition: all 0.2s;
}

.form-check-input[type="radio"]:hover {
  border-color: var(--color-blue);
}

.form-check-input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  left: 50%;
  transition: 0.15s;
  transition-property: border-color, background-color;
  top: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 25%;
  height: 50%;
  border: 0.1em solid #fff;
  border-top: none;
  border-left: none;
}

/* ===============radio 結束 ===============*/
