* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  border-radius: 1.3em;
  max-width: 300px;
  width: 100%;
}

/* .canvas-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/mb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.video-wrapper {
  gap: 80px;
  justify-content: center;
}

.video-wrapper-txt {
  margin-top: 80px;
}
