* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  border-radius: 1.3em;
  max-width: 300px;
  background-image: url("/images/mb.png");
}

.video-wrapper-img {
  position: relative;
  padding: 20px;
}

.video-wrapper-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/mb.png");
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.video-wrapper {
  gap: 80px;
  justify-content: center;
}

.video-wrapper-txt {
  margin-top: 80px;
}
