<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://test2cms.dudupay.com.tw</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://10.2.8.32</MSDeployServiceURL>
    <DeployIisAppPath>test2cms.dudupay.com.tw</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="21" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DuDuPay.Models.ApplicationDbContext, DuDuPay" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="kcsddb2Entities_2" Order="22" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DuDuPay.Models.kcsddb2Entities_2, DuDuPay" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ZephyrEntities" Order="23" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DuDuPay.Models.ZephyrEntities, DuDuPay" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="duducmsEntities" Order="24" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DuDuPay.Models.duducmsEntities, DuDuPay" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="kcsddb2Entities" Order="25" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PDF.kcsddb2Entities, PDF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="kcsddb2Entities_new" Order="26" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DuDuPay.Models.kcsddb2Entities_new, DuDuPay" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)duducmsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)kcsddb2Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)kcsddb2Entities_2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)kcsddb2Entities_new-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZephyrEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>